@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
body {
  font-family: 'Sriracha', cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  list-style: none;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: none;
}

.btn {
  background-color: #CE1212;
  color: #fff;
  border-radius: 50px;
  border: 0;
  padding: 0.5rem 1.3rem;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.title p {
  color: #5C5C63;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.title h1 {
  font-size: 2.6rem;
  color: #5C5C63;
}

.title h1 span {
  color: #CE1212;
}

.navbar {
  background-color: #fff;
}

.navbar .navbar-brand {
  color: #000;
  font-weight: bold;
  font-size: 1.8rem;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: none;
}

.navbar .navbar-toggler i {
  color: #000;
  font-size: 2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .navbar-toggler i:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .navbar-nav .nav-link {
  color: #ADADBA;
  text-transform: capitalize;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 80%;
}

.navbar .navbar-nav .nav-link:hover {
  color: #CE1212;
}

.navbar .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: 0%;
  height: 2px;
  background-color: #CE1212;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar .navbar-nav .btn {
  background-color: #CE1212;
  color: #fff;
  border-radius: 50px;
  border: 0;
  padding: 0.5rem 1.3rem;
}

.navbar .navbar-nav .btn:hover {
  color: #fff;
  background-color: #000;
}

.home img {
  width: 75%;
}

.home .box h1 {
  font-size: 3rem;
}

.home .box h2 {
  font-size: 2.8rem;
}

.home .box p {
  font-size: 1.1rem;
  letter-spacing: .8px;
}

.home .box .btn.video {
  background: none;
  color: #000;
  font-size: 1.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .box .btn.video i {
  color: #CE1212;
  font-size: 2.2rem;
}

.home .box .btn.video i:hover {
  color: #000;
}

.about .box {
  position: relative;
}

.about .box div {
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: 1.5rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #fff;
  width: 70%;
  text-align: center;
}

.about .box div h3 {
  color: #CE1212;
  font-size: 1.5rem;
}

.about .about-box i {
  color: #CE1212;
  font-size: 1.2rem;
}

.choose .box-choose {
  background-color: #CE1212;
  color: #fff;
  padding: 3rem 2rem;
}

.choose .box-choose .btn {
  background-color: #DD5A5A;
  padding: .5rem 2rem;
}

.choose .box-choose .btn:hover {
  background-color: #fff;
  color: #CE1212;
}

.choose .boxs {
  background-color: #fff;
  padding: 2rem 1rem;
}

.choose .boxs:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.choose .boxs i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAE7E7;
  color: #CE1212;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50px;
  font-size: 1.8rem;
}

.choose .boxs h4 {
  font-size: 1.4rem;
}

.choose .boxs p {
  font-size: .9rem;
}

.counter {
  background-image: url(../images/stats-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 30vh;
}

.counter .opactiy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.counter .opactiy .box {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  text-align: center;
}

@media (max-width: 991px) {
  .home {
    height: 100vh;
  }
  .home .box h1 {
    font-size: 2.5rem;
  }
  .home .box h2 {
    font-size: 2.4rem;
  }
  .home .box p {
    font-size: 1rem;
  }
  .home .box .btn.video {
    font-size: 1.3rem;
  }
  .title h1 {
    font-size: 2.4rem;
  }
}
/*# sourceMappingURL=style.css.map */